@charset "UTF-8";
$rem:72;
#header{
    width:100%;
    height:450/$rem+rem;
    position: relative;
    img{
        width:100%;
        height:450/$rem+rem;
    }
    .shuru{
        position: absolute;
        width:580/$rem+rem;
        height:80/$rem+rem;
        
        background: #FFFFFF;
        border-radius:30/$rem+rem;
        top:172/$rem+rem;
        left:74/$rem+rem;
        .left{
            width:138/$rem+rem;
            height:43/$rem+rem;
            line-height:43/$rem+rem ;
            border-right:2px solid #dcdcdc;
            float:left;
            font-size: 28/$rem+rem;
            margin-top:20/$rem+rem;
            span{
                width:60/$rem+rem;
                float:left;
                display: block;
                margin-left:30/$rem+rem;
                color:#000000;
            }
            img{
                float:left;
                width:15/$rem+rem;
                height:10/$rem+rem;
                margin-top:20/$rem+rem;
                margin-left:0;
            }
        }
        img{
            float:left;
            width:29/$rem+rem;
            height:29/$rem+rem;
            margin-top:28/$rem+rem;
            margin-left:20/$rem+rem;
        }
        input{
            border:none;
           
            margin:0 auto;
            width:200/$rem+rem;
            height:42/$rem+rem;
            color:#a7a7a7;
            margin-left:10/$rem+rem;
            margin-top:20/$rem+rem;
            font-size: 26/$rem+rem;
            float:left;
          }
    }
    
}
#center {
    width:100%;
    height:218/$rem+rem;
    background: #FAFAFA;
        ul{
        width:100%;
        height:218/$rem+rem;
        li{
            width:25%;
            height:218/$rem+rem;
            position: relative;
            float:left;
            img{
                width:100/$rem+rem;
                height:100/$rem+rem;
                position: absolute;
                top:30/$rem+rem;
                left:40/$rem+rem;
            }
             p{
                position: absolute;
                top:146/$rem+rem;
                left:40/$rem+rem;
                display: block;
                font-size: 26/$rem+rem;
                color:#000000;
                
             }
        }
    }

}
#big{
        width:100%;
        height:680/$rem+rem;
        background: #FAFAFA;
        border-bottom:2px solid #dcdcdc;
        border-top:2px solid #dcdcdc;
        margin-top:14/$rem+rem;
        .top{
           width:100%;
           height:76/$rem+rem;
           line-height:76/$rem+rem ;
           border-bottom:2px solid #dcdcdc;
            font-size:30/$rem+rem;
            
        }
         .top_1:last-child{
             border-bottom: none;
         }
        .top_1{
               width:90%;
               height:204/$rem+rem;
               border-bottom:2px solid #dcdcdc;
               margin:0 auto;
               img{
                   width:155/$rem+rem;;
                   height:157/$rem+rem;
                   margin-top:22/$rem+rem;
                   float:left;
                   border:2px solid #8c8c8c;
                 }
               .left{
                    width:70%;
                    height:163/$rem+rem;
                    float:right;
                   
                    margin-top:22/$rem+rem;
                    p{
                        width:100%;
                        font-weight: bold;
                        color:#000000;
                        font-size: 30/$rem+rem;
                        line-height:36/$rem+rem ;
                        
                    }
                    span{
                        display: block;
                        color:#ca4d6e;
                        width:80/$rem+rem;
                        height:30/$rem+rem;
                        line-height:30/$rem+rem ;
                        border:2px solid #ca4d6e;
                        margin-top:17/$rem+rem;
                        font-size: 20/$rem+rem;
                    }
                    div{
                        width:100%;
                        height:30/$rem+rem;
                        margin-top:10/$rem+rem;
                        span{
                            display: block;
                            width:40%;
                            height:30/$rem+rem;
                            color:#8c8c8c;
                            float:left;
                            border:none;
                            font-size:22/$rem+rem;
                            margin:0;
                            
                        }
                    }
               }
        }
}
#foot{
    width:100%;
    height:100/$rem+rem;
    background: #FFFFFF;
    position: fixed;
    bottom:0;
    z-index: 100;
    ul{
         width:100%;
         height:100/$rem+rem;
         li{
             float:left;
             width:25%;
             height:100/$rem+rem;
             text-align: center;
             img{
                 margin-top:10/$rem+rem;
             }
             p{
                 font-size:26/$rem+rem;
                 color:#4f4f4f;
                 margin-top:10/$rem+rem;
             }
         }
    }
}