@charset "utf-8";
/* CSS Document */

ul{
  margin:0;
  padding:0;
  list-style:none;
}
h4,h5,h6{
  padding:0;
  margin:0;
}
a{
 text-decoration:none;
 color:#999999; 
}
#top{
 width:1280px;
 height:116px;
 background-color:#f7f7f7;
 overflow:hidden;
}
#top .logo{
 
  width:435px;
  height:36px;
  margin:26px 0 0 147px;
}
#top .list{
  width:200px;
  height:36px;
 
  margin:-30px 0 0 1000px;
 
}
#top .list ul{
  margin:0;
  padding:0;
}
#top .list li{
  list-style:none;
  float:left;
  
  width:70px;
  height:36px;
  line-height:36px;
  margin:0 0 0 15px;
  text-align:center;
}
#center{
 	
    width:1280px;
  	height:196px;
}
#center img{
  z-index:2;
  position:relative;
}
#top .banner{
   width:980px;
   height:46px;
   
   z-index:3;
   position:absolute;
   top:100px;
   left:147px;
   background:url(img/navbg.png);
}
#top .banner ul{
  margin:0;
  padding:0;
}
#top .banner ul li{
  list-style:none;
  float:left;
  width:101px;
  height:46px;
  line-height:46px;
  text-align:center;
  border-right:1px solid #999999; 
}
#top .banner ul li:first-child{
    background:url(img/navhome.gif);
}

#top .banner ul li a{
  text-decoration:none;
  color:#545454;
  width:101px;
  height:46px;
  display:block;
  font-size:12px;
}
#top .banner ul li a:hover{
   background:#df3035;
}
#top .banner ul li:last-child{
   border-right:none;
   width:234px;
   height:46px;
   position:relative;
   background:url(img/20.png) -544px -1px no-repeat;
}
#left{
  width:224px;
  height:1470px;
  border:1px solid #CCCCCC;
  margin:0 0 0 10px;
  float:left;
}
#left ul li{
  width:200px;
  height:34px;
  line-height:34px;
  
  text-indent:20px;
}

#left ul li a{
   display:block;
   width:224px;
   height:34px;
   border-bottom:1px solid #CCCCCC;
   font-size:12px;
  
}
#left ul li a:hover{
 background-color:#CCCCCC;
}
#left .pic{
   width:224px;
   height:250px;
   border:1px solid #FFFFFF;
   background:url(img/20.png) -318px -20px no-repeat;
   margin:15px 0 0 0;
}
#left .pic ul{
   margin:100px 0 0 0;
   border:1px solid #CCCCCC;
}
#left .pic ul li{
   width:224px;
   height:34px;
   border-bottom:1px solid #999999;
   color:#999999;
   font-size:10px;
  
}

#right{
 width:900px;
 height:1500px;
 border:1px solid #CCCCCC;
 
 margin:-400px 0 0 225px;
 

}
#right h2{
   margin:35px 0 0 20px;
   color:#999999;
   font-size:15px;
   
  
}
#right ul{
 height:136px;
 width:900px;
 border-top:1px solid #CCCCCC;
 margin:30px 0;
}
#right ul li{
  float:left;
  margin:20px 0 0 20px;
  width:700px;
  height:93px;
}
#right ul li:first-child{
 border:1px solid #CCCCCC;
 width:140px;
 height:93px;
 margin:20px 0 0 20px;
 
}
#right ul li img{
  margin:5px -13px;
}
h4{
height:20px;
color:#666666;
}
h5{
 font-size:6px;
 line-height:22px;
 margin:5px 0 0 0;
 color:#999999;
}
h6{
  font-size:10px;
  color:#000000;
}
#footer{
 
  width:1280px;
  height:20px;
}
#footer ul{
  
  width:450px;
  height:20px;
  float:right;
  margin:-2px 30px 0 0;
  
}
h8{
 color:#999999;
 font-size:8px;
}
#footer ul li{
   float:left;
   border-right:1px solid #CCCCCC;
   width:80px;
   height:20px;
   line-height:20px;
   color:#999999;
   font-size:8px;
   margin:0 0 0 5px;
}